<nav class="flex justify-between py-5 px-8">
    <h1 class="font-bold">
        Blog Coffee<i class="ri-cup-fill  text-black ml-1 text-xl"></i>
    </h1>
    <ul class="flex gap-9 justify-center  text-l">
        <a href="/">Home</a>
        <a href="/create"> Create Blog</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </ul>

    <h1 class="flex justify-center gap-6 text-l"><a href="/login" class="px-4 py-2 rounded-lg bg-gray-300">Login</a>
        <a href="/register" class="px-4 py-2 rounded-lg bg-gray-300">Register</a>
    </h1>

    
        <div class="h-[5vh] w-[5vh] bg-gray-700 rounded-full">
            <a href="/users/profile">
                <img src="https://i.pinimg.com/564x/fa/a9/48/faa948fe08b265bae26ba13e3903825d.jpg" alt=""
                    class="w-full h-full object-center object-cover rounded-full">
            </a>

        </div>
        
</nav>