<%- include('partials/header') %>

  <%- include('partials/nav') %>
    <div class="flex justify-center">
      <div class="h-[86vh] w-[96%] bg-gray-300 rounded-2xl bg-[url('https://i.pinimg.com/564x/39/ae/99/39ae997de14392d3a9c4fcd9bfc459d8.jpg')] bg-center bg-no-repeat bg-cover">

      </div>
    </div>
    <%- include('partials/footer')%>